doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lunch Page
      
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 
        style
            include styles.css
   
    body

        nav.navbar
            h2 Lunch
        section.lists
            div.group
                h2 Orders
                each registro, index in registros
                    div.row
                        div.colum-img
                                img.card-img(src=registro.userImg)
                        div.colum-info
                            div.card-info
                                p.card-name #{registro.Name}
                                p.card-Res #{registro.Restaurant}
                                p.card-des #{registro.Order + ` ` + registro.description } 
            div.group
                h2 Groups
                div.row
                    div.colum-img
                        img.card-img(src= "https://avatars.slack-edge.com/2019-11-01/807404518595_289db322d1fe824e070f_original.jpg")
                    div.colum-info
                        p.card-name Todo alitas
                        p.card-Res Destino: Alitas Bbq
                        p.card-des Integrantes: Kevin, Daniel, Nicolas, Paul, Maria

            div.group
                h2 New Order
                div
                    div.form-container 
                        form(method="post" action="/form")
                            div         
                                input(type="text" placeholder="Name" name="Name" required)
                            div
                                input(type="text" placeholder="Restaurant" name="Restaurant" required)
                            div
                                input(type="text" placeholder="Order" name="Order" required)
                            div 
                                input(type="text" placeholder="description" name="description")
                            div
                                button(type="submit") Save

                        


                

