<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch App</title>
</head>
<body>
    
    <div>
        <ul class="listaGrupos">
            <h2>Grupos</h2>
            <li class="grupo"></li>
        </ul>
        <ul class="listaIndividual">
            <h2>Individual</h2>
            <li class="persona"></li>
        </ul>
    </div>


    <form action="/form" method="post">
        <label for="Nombre">Nombre
            <input type="text" name="Nombre" placeholder="Pon tu nombre">
        </label>
        <br>
        <label for="Restaurante">Restaurante
            <input type="text" name="Restaurante" placeholder="Escribe el restaurante" >
        </label>
        <br>
        <label for="Pedido">Pedido
            <input type="text" name="Pedido"  placeholder="Escribe el predido" >
        </label>
        <br>
        <label for="descripcion">descripcion
            <input type="text" name="descripcion"  placeholder="Escribe el predido" >
        </label>

        
        <br>
        <button type="submit">Enviar Pedido</button>
    
    </form>
</body>
</html>