doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lunch Page
        style
            include style.css
   
    body
        main 
            section.glass  
                div.group
                    div.card
                        p.card-img <b>
                        p.card-name Name
                        p.card-info Description</b>
                    each registro, index in registros
                            div.card
                                img.card-img(src="./fotoPerfil.jpg", alt="img")
                                p.card-name #{registro.Nombre}
                                p.card-info #{registro.Restaurante + ' --> ' + registro.Pedido} 
                                

                div.group
                        each registro, index in registros
                                div.card
                                    p Foto
                                    p #{registro.Nombre}
                                    p #{registro.Restaurante + ' --> ' + registro.Pedido} 
                    

               
                div.group
                    a(href="/form") Ingresar nuevo
                    
